.back{
    
    background-color: #262626;

}
.registro{
    background-color: #0439D9;
    width: 420px;
    height: 450px;
    margin: auto;   
    border-radius: 30px;
    padding: 30px;
    border: #056CF2 solid 2px;
}