#logo-estoque{
    width: 75px;
    height: 75px;
    image-rendering: optimizeQuality; 
    max-width: 100%; 
}
#back{
    background: white;

}
#filtro{
    background: rgb(248, 248, 248);
}
#container{
    padding-left: 50%;
    background-repeat: no-repeat;
}